<section>
<h2>All Reserves</h2>
<p>Click the reserve name for reserve info page.</p>
</br>
<% @locations.each do |location| %>
<% if location.name != "Rescue Center" %>
<h3><a class="no_decoration" href="/rescue_center/locations/each/<%= location.id() %>"> <%= location.name() %> </a></h3>
<table>
  <thead>
    <th>Name</th>
    <th>Species</th>
    <th>Age</th>
    <th>Size</th>
    <th>Gender</th>
    <th>Colour</th>
  </thead>

  <% @animals.each do |animal| %>

    <% if (location.id() == animal.location_id()) %>
      <tbody>
        <th> <a class="no_decoration" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></th>
        <th><%= animal.species() %></th>
        <th><%= animal.age() %></th>
        <th><%= animal.size() %></th>
        <th><%= animal.sex() %></th>
        <th><%= animal.colour() %></th>
      </tbody>
    <% end %>
  <% end %>
</table>
<% end %>
<% end %>
</section>
