<h1>Reserve Profile</h1>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @location.name() %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @location.description() %></td>
    </tr>
    <tr>
      <th>Caters for Land Animals</th>
      <td><%= @location.land() %></td>
    </tr>
    <tr>
      <th>Caters for Tree Dwellers</th>
      <td><%= @location.tree_top() %></td>
    </tr>
    <tr>
      <th>Caters for Aquatic Animals</th>
      <td><%= @location.aquatic() %></td>
    </tr>
  </table>

  <a href="/rescue_center/locations/update/<%= @location.id() %>"><input type="button" name="update_reserve" value="Click to EDIT"></a>
  <a href="/rescue_center/locations/delete/<%= @location.id() %>"><input type="button" name="delete_reserve" value="Click to DELETE"></a>
