<h1>Update <%= @location.name() %> Reserve</h1>
<form method="post" action="/rescue_center/locations/update/<%= @location.id() %>">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="<%= @location.name() %>" required/>

</br>
  <label for="description">Description: </label></br>
  <textarea id="description" rows="3" cols="60" name="description">
  <%= @location.description() %>
  </textarea>

</br>
  <label for="land">Caters for LAND animals: </label>
  <select id="land" name="land" required>
    <option <%= "checked" if @location.land() == "Yes" %> value="Yes"> Yes </option>
    <option <%= "checked" if @location.land() == "No" %> value="No"> No </option>
  </select>

</br>
  <label for="tree-top">Caters for TREE animals: </label>
  <select id="tree-top" name="tree_top" required>
    <option <%= "checked" if @location.tree_top() == "Yes" %> value="Yes"> Yes </option>
    <option <%= "checked" if @location.tree_top() == "No" %> value="No"> No </option>
  </select>

</br>
  <label for="aquatic">Caters for AQUATIC animals: </label>
  <select id="aquatic" name="aquatic" required>
    <option <%= "checked" if @location.aquatic() == "Yes" %> value="Yes"> Yes </option>
    <option <%= "checked" if @location.aquatic() == "No" %> value="No"> No </option>
  </select>

</br>
  <input type="submit" value="Update Reserve" />
  <input type="reset">
  <a href="/rescue_center/locations/each/<%= @location.id() %>"><input type="button" name="back" value="Go BACK to reserve"></a>

</form>
