<h1>All Animals</h1>
  </br>
  <table>
    <thead>
      <th>Addmission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Size</th>
      <th>Gender</th>
      <th>Location</th>
    </thead>
    <% @animals.each do |animal| %>
    <tbody>
      <td><%= animal.admission_date()%></td>
      <td> <a class="name_link" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></th>
      <td><%= animal.species() %></td>
      <td><%= animal.age() %></td>
      <td><%= animal.size() %></td>
      <td><%= animal.sex() %></td>
      <% if (Location.find_id(animal.location_id).name() == "Rescue Center") && (animal.health() == "100") %>
      <td><a class="no_decoration" href="/rescue_center/animals/rehome/<%= animal.id() %>"><input class="rehome_button" type="button" name="rehome_button" value="SEND TO A RESERVE"></a></td>
      <% elsif (Location.find_id(animal.location_id).name() == "Rescue Center") %>
      <td><a class="name_link" href="/rescue_center"> <%= Location.find_id(animal.location_id).name() %> </a></td>
      <% else %>
      <td><a class="name_link" href="/rescue_center/locations/each/<%= animal.location_id() %>"> <%= Location.find_id(animal.location_id).name() %> </a></td>
      <% end %>
    </tbody>
    <% end %>
  </table>
