<section>
  <h2>All Animals</h2>
  </br>
  <table>
    <thead>
      <th>Addmission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Size</th>
      <th>Gender</th>
      <th>Location</th>
    </thead>
    <% @animals.each do |animal| %>
    <tbody>
      <th><%= animal.admission_date()%></th>
      <th> <a class="no_decoration" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></th>
      <th><%= animal.species() %></th>
      <th><%= animal.age() %></th>
      <th><%= animal.size() %></th>
      <th><%= animal.sex() %></th>
      <% if (Location.find_id(animal.location_id).name() == "Rescue Center") && (animal.health() == "100") %>
      <th><a class="no_decoration" href="/rescue_center/animals/rehome/<%= animal.id() %>"><input type="button" name="rehome_button" value="SEND TO A RESERVE"></a></th>
      <% elsif (Location.find_id(animal.location_id).name() == "Rescue Center") %>
      <th><%= Location.find_id(animal.location_id).name() %></th>
      <% else %>
      <th><%= Location.find_id(animal.location_id).name() %></th>
      <% end %>
    </tbody>
    <% end %>
  </table>
</section>
