<h1>Animal Profile</h1>
</br>
<img src="<%= @animal.name() %>" alt="Photo of <%= @animal.name() %> the <%= @animal.species() %>">
<table>
  <tr>
    <th>Name</th>
    <td><%= @animal.name() %></td>
  </tr>
  <tr>
    <th>Species</th>
    <td><%= @animal.species() %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @animal.age() %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td><%= @animal.sex() %></td>
  </tr>

  <tr>
    <th>Size</th>
    <td><%= @animal.size() %></td>
  </tr>

  <tr>
    <th>Colour</th>
    <td><%= @animal.colour() %></td>
  </tr>

  <% if (Location.find_id(@animal.location_id).name() == "Rescue Center") && (@animal.health() == "100") %>
  <tr>
    <th>Location</th>
    <td>Waiting rehoming - <a class="no_decoration" href="/rescue_center/animals/rehome/<%= @animal.id() %>"><input type="button" name="rehome_button" value="SEND TO A RESERVE"></a></td>
  </tr>

  <% elsif (Location.find_id(@animal.location_id).name() == "Rescue Center") && (@animal.health().to_i < 100)%>
  <tr>
    <th>Health Percent</th>
    <td><%= @animal.health() %>%</td>
  </tr>

  <% else %>
  <tr>
    <th>Reserve</th>
    <td><%= Location.find_id(@animal.location_id).name() %></td>
  </tr>
  <% end %>

</table>

<a href="/rescue_center/animals/update/<%= @animal.id() %>"><input type="button" name="update_animal" value="Click to EDIT"></a>
<a href="/rescue_center/animals/check_delete/<%= @animal.id() %>"><input type="button" name="delete_animal" value="Click to DELETE"></a>
