<section>
  <h2>Full Animal Profile</h2>
</br>
<table>
  <thead>
    <th>FIELD</th>
    <th>DATA</th>
  </thead>
  <tbody>
    <th>
      <ul>
        <li>Name:</li>
        <li>Species:</li>
        <li>Age:</li>
        <li>Sex:</li>
        <li>Size:</li>
        <li>Colour:</li>
        <li>Reserve:</li>
        <li>Health:</li>
      </ul>
    </th>
    <th>
      <ul>
        <li><%= @animal.name() %></li>
        <li><%= @animal.species() %></li>
        <li><%= @animal.age() %></li>
        <li><%= @animal.sex() %></li>
        <li><%= @animal.size() %></li>
        <li><%= @animal.colour() %></li>
        <% if (Location.find_id(@animal.location_id).name() == "Rescue Center") && (@animal.health() == "100") %>
        <li> <a class="no_decoration" href="/rescue_center/animals/rehome/<%= @animal.id() %>"><input type="button" name="rehome_button" value="SEND TO A RESERVE"></a></li>
        <% else %>
        <li><%= Location.find_id(@animal.location_id).name() %></li>
        <% end %>
        <li><%= @animal.health()%>%</li>
      </ul>
    </th>
  </tbody>
</table>

<a href="/rescue_center/animals/update/<%= @animal.id() %>"><input type="button" name="update_animal" value="Click to EDIT"></a>

<a href="/rescue_center/animals/check_delete/<%= @animal.id() %>"><input type="button" name="delete_animal" value="Click to DELETE"></a>
</section>
