<section>
<h1>Rehome '<%= @animal.name() %>' the <%= @animal.species() %></h2>
  </br>
  <table>
    <thead>
      <th>Name</th>
      <th>Species</th>
      <th>Terrain Type</th>
      <th>Age</th>
      <th>Size</th>
      <th>Gender</th>
      <th>Colour</th>
    </thead>
    <tbody>
      <td><%= @animal.name() %></td>
      <td><%= @animal.species() %></td>
      <% @terrain_types.each do | terrain_type | %>
        <% if (terrain_type.id() == @animal.type_id()) %>
          <td> <%= terrain_type.terrain() %> </td>
        <% end %>
      <% end %>
      <td><%= @animal.age() %></td>
      <td><%= @animal.size() %></td>
      <td><%= @animal.sex() %></td>
      <td><%= @animal.colour() %></td>
    </tbody>
  </table>

</br>
<form class="rehome" action="/rescue_center/animals/rehome" method="post">
  <p>Choose a Nature Reseve from the following list:</p>
  <input type="hidden" name="id" value="<%= @animal.id() %>">

  <label for="location">Select a reserve: </label>
  <select id="location-id" name="location_id">
    <% @suitable_locations.each do |location| %>
      <option value="<%= location.id() %>" > <%= location.name() %> </option>
    <% end %>
  </select>

  </br>
  <input type="submit" value="Re-home Animal" />
  <a href="/rescue_center/animals/all"><input type="button" name="back" value="CANCEL - goto animal list"></a>
</form>
</section>
