<h1>Update Animal Status</h1>
</br>
<p>Adjust health level, size, age etc. here.
</br> BUT to re-home animal go to dashboard.</p>
</br>
<form class="form_update" method="post" action="/rescue_center/animals/update/<%= @animal.id() %>">
<table>
  <tr>
    <th><label for="name">Name: </label></th>
    <td><input id="name" type="text" name="name" value="<%= @animal.name() %>" required/></td>
  </tr>
  <tr>
    <th><label for="health">Healthy Percentage: </label></th>
    <td>1%<input id="health" name="health" class="slider" type="range" min="1" max="100" value="<%= @animal.health() %>" required>100% (previously <%= @animal.health() %>%)</td>
  </tr>
  <tr>
    <th><label for="sex">Gender: </label></th>
    <td><input <%= "checked" if @animal.sex == "TBC" %> type="radio" name="sex" value="TBC"> TBC </input>
        <input <%= "checked" if @animal.sex == "Male" %> type="radio" name="sex" value="Male"> Male </input>
        <input <%= "checked" if @animal.sex == "Female" %> type="radio" name="sex" value="Female"> Female </input></td>
  </tr>
  <tr>
    <th><label for="size">Size: </label></th>
    <td><select id="size" name="size" required>
          <option <%= "selected" if @animal.size == "Small" %> value="Small"> Small </option>
          <option <%= "selected" if @animal.size == "Medium" %> value="Medium"> Medium </option>
          <option <%= "selected" if @animal.size == "Large" %> value="Large"> Large </option>
      </select></td>
  </tr>
  <tr>
    <th><label for="colour">Colour: </label></th>
    <td><input id="colour" type="text" name="colour" value="<%= @animal.colour() %>" required/></td>
  </tr>
  <tr>
    <th><label for="species">Species</label></th>
    <td><input id="species" type="text" name="species" value="<%= @animal.species() %>" required/></td>
  </tr>
  <tr>
    <th><label for="age">Age: </label></th>
    <td><select id="age" name="age" required>
          <option <%= "selected" if @animal.age == "TBC" %> value="tbc"> tbc </option>
          <option <%= "selected" if @animal.age == "Young" %> value="Young"> Young </option>
          <option <%= "selected" if @animal.age == "Adult" %> value="Adult"> Adult </option>
          <option <%= "selected" if @animal.age == "Elderly" %> value="Elderly"> Elderly </option>
        </select></td>
  </tr>
  <tr>
    <th><label for="admission-date">Admission Date: </label></th>
    <td><input id="admission-date" type="date" name="admission_date" value="<%= @animal.admission_date() %>" required/></td>
  </tr>
</table>
  <input id="location-id" name="location_id" type="hidden" value="<%= @animal.location_id() %>"/>
  <input type="submit" value="Update Animal" />
  <input type="reset">
  <a href="/rescue_center/animals/each/<%= @animal.id() %>"><input type="button" name="back" value="Go BACK to animal"></a>
</form>
