<section>
  <h2>Healthy Animals</h2>
  <% if @healthy_animals.count > 0 %>
  <table>
    <thead>
      <th>Admission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Size</th>
      <th>RE-HOME</th>
    </thead>
    <% @healthy_animals.each do |animal| %>
    <tbody>
      <th><%= animal.admission_date()%></th>
      <th> <a class="no_decoration" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></th>
      <th><%= animal.species() %></th>
      <th><%= animal.age() %></th>
      <th><%= animal.size() %></th>
      <th> <a class="no_decoration" href="/rescue_center/animals/rehome/<%= animal.id() %>"><input type="button" name="rehome_button" value="CLICK TO RE-HOME"></a></th>
    </tbody>
    <% end %>
  </table>
  <% else %>
  <p>There are currently no healthy animals waiting at the center.</p>
  <% end %>
</section>
</br>
<section>
  <h2 class="inline">Recovering Animals</h2>
  <a class="inline" href="/rescue_center/animals/new"> <input type="button" name="admit" value="Admit New ILL Critter"> </a>
  <table>
    <thead>
      <th>Admission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Size</th>
      <th>Health Status</th>
    </thead>
    <% @ill_animals.each do |animal| %>
    <tbody>
      <th><%= animal.admission_date()%></th>
      <th> <a class="no_decoration" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></th>
      <th><%= animal.species %></th>
      <th><%= animal.age() %></th>
      <th><%= animal.size() %></th>
      <th><%= animal.health %>%</th>
    </tbody>
    <% end %>
  </table>
</section>
