<h1>Dashboard for Rescue Center</h1>
</br>
<a class="inline" href="/rescue_center/animals/new"> <input class="red_button" type="button" name="admit" value="Admit New ILL Critter"> </a>
</br></br>
  <h2>Healthy Animals</h2>
  <% if @healthy_animals.count > 0 %>
  <table>
    <thead>
      <th>Admission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Terrain Type</th>
      <th>Age</th>
      <th>Size</th>
      <th>RE-HOME</th>
    </thead>
    <% @healthy_animals.each do |animal| %>
    <tbody>
      <td><%= animal.admission_date()%></td>
      <td> <a class="name_link" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></td>
      <td><%= animal.species() %></td>
      <td><%= Terrain_type.find_id(animal.type_id).terrain() %></td>
      <td><%= animal.age() %></td>
      <td><%= animal.size() %></td>
      <td> <a class="no_decoration" href="/rescue_center/animals/rehome/<%= animal.id() %>"><input class="rehome_button" type="button" name="rehome_button" value="Send to reserve"></a></td>
    </tbody>
    <% end %>
  </table>
  <% else %>
  <p>There are currently no healthy animals waiting at the center.</p>
  <% end %>
</section>
</br>
<section>
  <h2 class="inline">Recovering Animals</h2>
  <table>
    <thead>
      <th>Admission Date</th>
      <th>Name</th>
      <th>Species</th>
      <th>Terrain Type</th>
      <th>Age</th>
      <th>Size</th>
      <th>Health Status</th>
    </thead>
    <% @ill_animals.each do |animal| %>
    <tbody>
      <td><%= animal.admission_date()%></td>
      <td> <a class="name_link" href="/rescue_center/animals/each/<%= animal.id() %>"> <%= animal.name() %> </a></td>
      <td><%= animal.species %></td>
      <% @terrain_types.each do | terrain_type | %>
        <% if (terrain_type.id() == animal.type_id()) %>
          <td> <%= terrain_type.terrain() %> </td>
        <% end %>
      <% end %>
      <td><%= animal.age() %></td>
      <td><%= animal.size() %></td>
      <td><%= animal.health %>%</td>
    </tbody>
    <% end %>
  </table>
