</br>
<section id="home-upper">
  <h2>Healthy Animals</h2>
  <% if @healthy_animals.count > 0 %>
  <table>
    <thead>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Size</th>
      <th>CLICK TO REHOME</th>
    </thead>
    <% @healthy_animals.each do |animal| %>
    <tbody>
      <th><%= animal.name() %></th>
      <th><%= animal.species() %></th>
      <th><%= animal.age() %></th>
      <th><%= animal.size() %></th>
      <th> <input type="button" name="rehome_button" value="CLICK TO REHOME"> </th>
    </tbody>
    <% end %>
  </table>
  <% else %>
  <p>There are currently no healthy animals waiting at the center.</p>
  <% end %>
</section>
</br>
<section id="home-lower">
  <h2>Recovering Animals</h2>
  <table>
    <thead>
      <th>Name</th>
      <th>Species</th>
      <th>Location</th>
      <th>health</th>
    </thead>
    <% @ill_animals.each do |animal| %>
    <tbody>
      <th><%= animal.name %></th>
      <th><%= animal.species %></th>
      <th><%= Location.find_id(animal.location_id).name() %></th>
      <th><%= animal.health %>%</th>
    </tbody>
    <% end %>
  </table>
</section>
